/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
#left_form {
    background-color: #1e1b51;
    min-height: 460px;
    color: #fff;
    text-align: center;
    padding: 90px 30px 30px 30px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

a.btn_1.yellow, .btn_1.yellow {
    background: #21debd;
    color: #111;
}